<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="images/img-02.png" alt="IMG">
            </div>

            <form method="post" ng-submit="addproduct()"  class="login100-form validate-form">
                <span class="login100-form-title">
                    Add Product
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Valid name is required">
                    <input class="input100" type="text" ng-model="data.Product_Name" name="name" placeholder="name">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Description is required">
                    <input class="input100" type="text" name="description" ng-model="data.Product_Description" placeholder="description">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "stock is required">
                    <input class="input100" type="text" name="stock" ng-model="data.Product_Stock" placeholder="stock">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "price is required">
                    <input class="input100" type="text" name="price" ng-model="data.Product_Price" placeholder="price">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Valid Email is required: xyz@mail.com">
                    <input class="input100" type="text" name="shopid" ng-model="data.ShopO_Id" placeholder="shopid">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
               
               
              
                
                <div class="container-login100-form-btn">
                    <input type="submit" value="Add Product" class="login100-form-btn">
                       
                    
                </div>
               
            </form>
        </div>
    </div>
</div>