<section class="ftco-section">
  <nav
    class="
      navbar navbar-expand-lg navbar-dark
      ftco_navbar
      bg-dark
      ftco-navbar-light
    "
    id="ftco-navbar"
  >
    <div class="container">
      <a class="navbar-brand" href="">E-Hut Bazar</a>
      <form class="searchform order-sm-start order-lg-last">
        <div class="form-group d-flex">
          <input type="text" class="form-control pl-3" placeholder="Search" />
          <button type="submit" placeholder="" class="form-control search">
            <span class="fa fa-search"></span>
          </button>
        </div>
      </form>
      <div class="order-sm-start order-lg-last">
        <a href="#!/Logout" class="nav-link">Logout</a>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#ftco-nav"
        aria-controls="ftco-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a href="#!/Admin/Home" class="nav-link">Home</a>
          </li>

          <li class="nav-item">
            <a href="#!/Admin/Profile" class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a href="#!/Admin/User/Info" class="nav-link">Users Info</a>
          </li>

          <li class="nav-item active">
            <a href="#!/Admin/Notice" class="nav-link">Notice</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
</section>
